# Ignore virtual environment  
venv/  

# Ignore Python cache files  
__pycache__/  
*.pyc  
*.pyo  

# Ignore environment variables  
.env  

# Ignore instance folder (used in Flask)  
instance/  

# Ignore unnecessary system files  
.DS_Store  
Thumbs.db  

# Ignore log files  
*.log  
